body { background: #ec2b5b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 29px; display: flex; }
.block-uploader-0 { color: #d24b70; font-size: 19px; margin-bottom: 5px; }
.block-metrics-1 { color: #f8fb22; font-size: 15px; margin-bottom: 5px; }
.block-user-2 { color: #f94d8a; font-size: 12px; margin-bottom: 5px; }
.block-helper-3 { color: #9008ef; font-size: 14px; margin-bottom: 5px; }
.block-product-4 { color: #5e958c; font-size: 14px; margin-bottom: 5px; }